html {
    height: 95%;
}
body {
    background: #eee !important;
    height:100%;
}
.wrapper {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    width: 425px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading {
    font-size: 30px;
    font-weight: 500;
}
.form-signin .main {
    width: 100%;
}
.form-signin .title,
.form-signin .main,
.form-signin .remember-me {
    margin-left: 80px;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .form-input {
    /*position: relative;*/
    font-size: 16px;
    height: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.form-signin .form-input:focus {
    z-index: 2;
}

.remember-me {
    margin: 10px 0;
}


.toRegister {
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 14px;
    color: #2a6496;
    text-decoration: none;
}
.btn-wrapper {
    text-align: center;
}

.btn {
    width: 60%;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background-color: #3276b1;
    border-color: #285e8e;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid transparent;
    padding-bottom: 20px;
    cursor: pointer;
}

